body {
    background-color: rgb(95, 127, 255);
}
.header {
    margin: auto;
}
h1 {
    color: rgb(255, 255, 255);
    font-family: Coustard;
    font-weight:900;
    font-size: 5.0em;
    padding: 20px 0 20px 0;
    display:inline;
}
h3 {
    color: rgb(255, 255, 255);
    font-family: Coustard;
    font-weight:500;
    font-size: 2em;
    display:inline;
}
.blinker {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(255, 0, 0);
    animation: blinker 2s cubic-bezier(0,.8,.84,.98) infinite;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
}
.container-fluid {
    max-width: 1000px;
    width: 80%;
}
.nav {
    text-align: center;
    width: 100%;
}
.nav-item {
    display: inline !important;
    text-align: center;
    margin: auto;
}
i {
    color: rgb(95, 127, 255);
    display: inline;
    line-height: 1.5em !important;
}.table {
    display: table;
    margin-top: 20px;
}
.table thead th {
    width: 100% !important;
    text-align: center;
    border-bottom: 0px !important;
}
input {
    outline: none !important;
    background: rgba(255, 255, 255, 0.9) !important;
    color: rgb(95, 127, 255) !important; 
    box-shadow: none !important;
}
input:focus {
    outline: none !important;
    background: rgba(255, 255, 255, 0.9) !important;
    border-color: transparent !important;
    box-shadow: none !important;
}
input::-webkit-input-placeholder {
    color: rgba(95, 127, 255, 0.8);
}
input:focus::-webkit-input-placeholder {
    color: rgba(95, 127, 255, 0.3);
}
/* Firefox < 19 */
input:-moz-placeholder {
    color: rgba(95, 127, 255, 0.8);
}
input:focus:-moz-placeholder {
    color: rgba(95, 127, 255, 0.3);
}
/* Firefox > 19 */
input::-moz-placeholder {
    color: rgba(95, 127, 255, 0.8);
}
input:focus::-moz-placeholder {
    color: rgba(95, 127, 255, 0.3);
}
/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: rgba(95, 127, 255, 0.8);
}
input:focus:-ms-input-placeholder {
    color: rgba(95, 127, 255, 0.3);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FFFFFF !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #FFFFFF !important;
}
.input-group {
    color: #FFF;
    max-width: 500px;
    margin: auto;
    -moz-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.5);;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.5);;
}
#search-icon {
    padding: 0 3px 0 3px;
    color: rgb(95, 127, 255) !important;
    font-weight: bold;
    font-size: 1.6em;
    -webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg); 
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#search-btn {
    border: none !important;
    outline: none !important;
    background: rgba(255, 255, 255, 0.9) !important;
    box-shadow: none !important;
}
#twitch-btn {
    border: 0px !important;
    outline: none !important;
    background: rgba(255, 255, 255, 1) !important;
    box-shadow: none !important;
}
.filter {
    display: inline;
    max-width: fit-content;
}
input[type="text"] {
    border: none !important;
    outline: none !important;
}