body {
    background-color: #5c7cfa;
}
.header {
    display:inline-flex;
}
h1 {
    color: rgb(255, 255, 255);
    font-family: Coustard;
    font-weight:900;
    font-size: 3.0em;
    padding: 20px 0 20px 0;
    display:inline;
}
h3 {
    color: rgb(255, 255, 255);
    font-family: Coustard;
    font-weight:500;
    font-size: 1.2em;
    display:inline;
}
.nav {
    text-align: center;
    width: 100%;
}
.nav-item {
    display: inline !important;
    text-align: center;
    margin: auto;
}
i {
    margin: 8px 10px 0 0;
    color: #FFFFFF;
    display: inline;
}
thead {
    text-align: center;
}
input {
    border: 2px solid white !important;
    background: transparent !important;
    color: #FFF !important; 
}
input:focus {
    outline: none !important;
    border: 2px solid rgb(255, 208, 0) !important;
    box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.3) !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.836) !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #FFFFFF !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #FFFFFF !important;
}
.input-group {
    color: #FFF;
    max-width: 400px;
    margin-bottom: 0 !important;
}
#search-icon {
    font-weight: bold;
    font-size: 1.3em;
    -webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg); 
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.filter {
    display: inline;
    max-width: fit-content;
}